.gallery {
    background-color: #f1f1f1;
  }
  
  .logo-gallery {
    position: relative;
    width: 20%;
    height: 100%;
  }
  
  .d {
    box-shadow: 0px 0px 50px 9px #5a5050;
    border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
  }