/* You can add global styles to this file, and also import other style files */

$borde:  18px 18px 18px 18px;
$tipografy: 'Rum Raisin', sans-serif;

/*----Header---*/

.navbar{
    background: linear-gradient(rgba(24, 22, 22, 0.8),rgba(194, 181, 181, 0.8) );
    width: 100%;
}
.logo{
    width: 130px;
    height: 100px;
}
.typography{
    font-family: $tipografy;
    font-size: 20px;
    
    color: white;    
}

.style-header{
    position: fixed;
    z-index: 1001;
    width: 100%;
    
}

.top-nav-collapse{
    background-color: black !important;
    .logo{
        width: 100px;
        height: 70px;
    }
}


 /*----------------------------------------------------*/

/* img principal*/


.img-principal{
    position: relative;
    width: 100%; 
    height: auto;
    
}

// .img-principal-phone{
//     position: relative !important;
//     width: 100% !important; 
//     height: auto !important;
// }

.logo-big{
    position: relative; 
    width: 500px;
    height: 400px;
    z-index: 1;
    top: -20%;
 }

 /*--------------------------------------*/

 /* Sobre Nosotros*/

.img-principal-1{
    position: relative;;
    width: 100%; 
    height: auto;
    border-radius: $borde;
    -moz-border-radius: $borde;
    -webkit-border-radius: $borde;
}

.title-sobre-nosotros{
    position: relative;
    width: 40%;
    height: auto;
}
.sobre-nosotros-text{
    font-family: $tipografy;
    font-size: 20px;    
}
.sobre-nosotros-text-phone{
    position: relative;
    font-family: $tipografy;
    font-size: 17px;
    color: aliceblue;
}
.img-principal-phone{
    position: relative;
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(214, 205, 205, 0.8),rgba(3, 3, 3, 0.8) ),url(assets/images/sobre-nosotros.jpg);
    
}

.logo-big-phone{
    position: relative; 
    width: 500px;
    height: 400px;
    z-index: 1;
    top: -15%;
}

/*---------------------------------------------------*/

/*Servicios*/

.logo-services{
    position: relative;
    width: 25%;
    height: 100%
}

.text-services{
    font-family: $tipografy;
    font-size: 2.5vw;
}

.icons-services{
    position: relative;
    width: 70px;
    height: 70px;
}

/*----------------------------------------------------*/


/*----------------------------------------------------*/

/*Horario*/
.schedule{
    height: auto;  
    width: 100%;  
    background-color: black;
}


.text-schedule{
    font-family: $tipografy;
    font-size: 4vw;
    color: white;
}

.logo-schedule{
    width: 21% !important;
    height: 100%;
}


/*----------------------------------------------------*/

/* Contacto*/
.logo-contact{
    position: relative;
     width: 23%;
    height: 100%;
}

.icons-socials{
    width: 40px;
    height: 40px;
}

.text-contact{
    font-family: $tipografy;
    font-size: 2.5vw;
}

/*------------------------------------------*/

@media (max-width: 1600.98px) {  
    .style-header{
        opacity: 1 !important; 
    }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  

    .logo-big{
         
        width: 400px;
        height: 300px;
     }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  
    .logo-big{
         
        width: 400px;
        height: 300px;
     }
     .sobre-nosotros-text{
        font-family: $tipografy;
        font-size: 15px;
        
    }
    .logo-schedule{
        width: 35% !important;
        height: 100%;
    }
    
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  
    .logo-big.logo-big-phone{
        width: 400px;
        height: 500px;
     }
     .logo-big-phone{
        width: 200px;
        height: 150px
     }

     .logo-schedule{
        width: 35% !important;
        height: 100%;
    }
    .logo-services{
        width: 35% !important;
        height: 100%
    }

    .logo-contact{
        width: 35%;
        height: 100%;
    }
}



/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .logo-big{
        width: 200px;
        height: 140px;
        
     }
     .logo-big-phone{
        width: 200px;
        height: 140px;
     }

     .title-sobre-nosotros{
        width: 40%;
        height: 25%;
        top: -25%;
     }

     .icons-services{
        width: 30px;
        height: 30px;
    }

    .icons-socials{
        width: 25px;
        height: 25px;
        
    }

    .contact{
        margin-left: 22.5%;
    }
    .map{
       
        width: 100%;
    }

    /*----------------------------------------------------*/
    .text-services{
        font-size: 5vw;
    }

    .text-contact{
        font-size: 5vw;
    }

    .text-schedule{
        
        font-size: 5vw;
    }
    
    .logo-services{
        width: 35%;
        height: 100%
    }

    .logo-contact{
        width: 35%;
        height: 100%;
    }

    .logo-schedule{
        width: 35% !important;
        height: 100%;
    }

    ul{
        margin-right: auto;
    }
}


footer{
    background-color: black;
    width: 100%;
    height: auto;

}